@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menu h2 {
  color: grey;
  padding-bottom: 1rem;
}

.menu h3 {
  color: lightblue;
  padding: 1rem 1rem 0 0rem;
  font-weight: bold;
}

.menu a:hover {
  color: aqua;
}
.menu li {
  padding: 0.3rem;
}
